<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>
        <li>
          <a href="{{ site.baseurl }}index.html" {% if page.url == "/" %}class = "active"{% endif %}>Narrative</a>
          <ul>
              <li>
                  <a href="{{ site.baseurl }}Persona_Nelisa.html" {% if page.url == "/Persona_Nelisa.html" %}class = "active"{% endif %}>Nelisa</a>
              </li>
              <li>
                  <a href="{{ site.baseurl }}Persona_Xolani.html" {% if page.url == "/Persona_Xolani.html" %}class = "active"{% endif %}>Xolani</a>
              </li>
              <li>
                  <a href="{{ site.baseurl }}Persona_Nthabiseng.html" {% if page.url == "/Persona_Nthabiseng.html" %}class = "active"{% endif %}>Nthabiseng</a>
              </li>
          </ul>
        </li>
    </ul>
  </nav>
</footer>
